body{
    background-color: #eee;
}
/* .testimonials {

    direction: ltr;
    padding: 100px 0;
  
    width: 100%;
    /* height: 300px; */
    /* background: linear-gradient(
      to right,
      #008c7f 0%,
      #008c7f 50%,
       /* var(--main-Bg) 0%,
      var(--main-Bg) 50%, */
      /* rgb(37, 37, 37) 50%, */
      /* rgb(37, 37, 37) 100%  */
    /* ); */
  /* } */
  .contentt {
    text-transform: capitalize;
    padding: 100px 0;
    h2 {
      color: #fff;
    }
  }
  .cardt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }
  .fas{
    color: blue;
  }
  .cardnt {
    direction: rtl;
    background-color: #fff;
    padding: 13px;
    width: 350px;
    height: 211px;
    h3{
      direction: ltr;
    }
    p {
      line-height: 1.4;
      word-spacing: 2px;
    }
    .flex {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      .icon {
        width: 50px;
        height: 50px;
        border: 1px solid #fff;
        outline: 1px solid #eee;
        border-radius: 50%;
        background-color: #eee;
      }
      div {
        width: 70%;
      }
    }
  }
  .icon{
  
    border-radius: 50%;
    background-color: #eee;
  }


  .team-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .red-img{
width: 200px;
height: 200px;
position: relative;
    img{
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid rgb(97, 184, 235);
      box-shadow: -1px -2px 13px 0px rgb(97, 184, 235);
    }
  }
  .team{
    text-align: center;
    margin: auto;
    /* border: 1px solid #000; */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
      font-size: 30px;
      margin: 20px 0 !important;
      margin-bottom: 5px !important;
   
    }
    p{
      color: #777;
    }
    
  }
  .bnat{
    box-shadow: -1px -2px 18px 0px rgb(155, 113, 8) !important;
  }
  .twseq{
    position: absolute;
    right: 26px;
    bottom: 5px;
    width: 30px;
    height: 30px;
  }
  .twseq video{
border-radius: 50%;
width: 100%;
height: 100%;
  }